/* Color Adjustments */

body {
  background-color: transparent !important;
}

div#main {
	background-color: transparent !important;
	padding: 0 !important;
}


#stream_info_table_body button.btn,
#dvr_info_table_body button.btn {
	background-color: transparent !important;
}

/* Layout spacing adjustments */

.dashboard-main-wrapper {
	padding: 0 !important;
}

section {
	padding: 0 !important;
}

.container {
	padding: 0 !important;
	margin: 0 !important;
}

.dashboard-wrapper {
  margin-left: 0 !important;
}

.dashboard-content {
  padding: 0 !important;
}

/* Overwritten Button Styles */

button#add_rpi,
button#add_dvr,
button#delete_dvr,
button#add_stream,
button#start_stream,
button#stop_stream,
button#delete_stream {
	margin: 4px 12px !important;
	border-radius: 4px !important;
}

